Introduction to List

    ->Lists are ordered,mutable collectionsof items.
    ->They can contain items of different data types.

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Example and Common Errors

In [54]:
lst = []
print(type(lst))

<class 'list'>

In [55]:
names=["Dhananjay","Shaurya","Amit"]
print(names)

['Dhananjay', 'Shaurya', 'Amit']

In [56]:
mixed_list = [1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [57]:
# Accessing the List Elements
fruits = ["Apple","Banana","Cherry","Kiwi","Pomogranate","Guava"]

In [58]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

Apple
Cherry
Pomogranate
Guava

In [59]:
print(fruits[1:])

['Banana', 'Cherry', 'Kiwi', 'Pomogranate', 'Guava']

In [60]:
print(fruits[1:3])

['Banana', 'Cherry']

In [61]:
## Modifying the list elements
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Pomogranate', 'Guava']

In [62]:
fruits[1]="watermelon"
print(fruits)

['Apple', 'watermelon', 'Cherry', 'Kiwi', 'Pomogranate', 'Guava']

In [63]:
fruits[1:]

['watermelon', 'Cherry', 'Kiwi', 'Pomogranate', 'Guava']

In [64]:
fruits[1:] = "watermelon"

In [65]:
fruits

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [66]:
fruits.append("orange")

In [67]:
fruits

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [68]:
fruits.insert(1,"banana")

In [69]:
fruits

['Apple', 'banana', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [70]:
fruits.insert(2,"watermelon")

In [71]:
fruits

['Apple',
 'banana',
 'watermelon',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [72]:
fruits.remove("banana")

In [73]:
fruits

['Apple',
 'watermelon',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [74]:
fruits.remove("e")## remove the first occurence of the item

In [75]:
fruits

['Apple', 'watermelon', 'w', 'a', 't', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [76]:
fruits.remove("e")

In [77]:
fruits

['Apple', 'watermelon', 'w', 'a', 't', 'r', 'm', 'l', 'o', 'n', 'orange']

In [79]:
# Remove  and return the last items
poped_fruits = fruits.pop()

In [81]:
poped_fruits

'orange'

In [82]:
fruits

['Apple', 'watermelon', 'w', 'a', 't', 'r', 'm', 'l', 'o', 'n']

In [83]:
fruits.index("watermelon")

1

In [85]:
print(fruits.insert(2,"banana"))

None
2

In [89]:
print(fruits.count("banana"))

1

In [88]:
fruits

['Apple', 'watermelon', 'banana', 'w', 'a', 't', 'r', 'm', 'l', 'o', 'n']

In [92]:
fruits.remove("a")
fruits.remove("t")
fruits.remove("r")
fruits.remove("m")
fruits.remove("l")
fruits.remove("n")
fruits.remove("o")

In [93]:
fruits

['Apple', 'watermelon', 'banana']

In [95]:
fruits.insert(3,'orange')

In [96]:
fruits

['Apple', 'watermelon', 'banana', 'orange']

In [97]:
fruits.sort()

In [98]:
fruits

['Apple', 'banana', 'orange', 'watermelon']

In [100]:
fruits.reverse()

In [101]:
fruits

['watermelon', 'orange', 'banana', 'Apple']

In [104]:
# Remove all the elements in list
fruits.clear()

In [105]:
fruits

[]

## Slicing the List

In [107]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [108]:
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [109]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
numbers[::3]

[1, 4, 7, 10]

In [112]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [113]:
## Iterating over list
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [119]:
## Iterating with index

for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [122]:
## List Comprehension
lst = []
for x in range(10):
    lst. append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [123]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Comprehension

Basic Syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension[expression for item1 in iterable1 for item2 in iterable2]

In [124]:
## Basic List Comprehension

square = [num**2 for num in range(1,10)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [129]:
even = []
for i in range(1,11):
    if i%2==0:
        even.append(i)
even

[2, 4, 6, 8, 10]

In [130]:
even= [i for i in range(1,11) if i%2==0]
even

[2, 4, 6, 8, 10]

In [131]:
import random

In [143]:
flip = random.random()
flip

0.6904360987834864

In [140]:
flip

0.4541100103034794

In [146]:
## Nested List Comprehension
list1=[1,2,3,4]
list2=['a','b','c','d']
pair = [(i,j) for i in list1 for j in list2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [ ]:
# List Comprehension with function call
words = ["hello","world","python","list","comprehension"]