## Variables

# Indtroduction to the variables
# Declaring and Assigning the Variables
# Naming Convention
# Understanding Variable Types
# Type Checking  and Conversion
# Dynamic Typing 
# Practical Example and Common Errors

In [1]:
a = 100

In [4]:
## Declaring and assigning a variables

age = 32
height ="5'10"
name = "Dhananjay"
is_student = True

## printing the variables
print("age : ",age)
print("Height : ",height)
print("Name : ",name)

age :  32
Height :  5'10
Name :  Dhananjay

In [9]:
## Naming Convention
## variable name shoukd be descriptive
## They must start with a letter or an '_' and contains letter, number and underscores
## variables name case sensitive

# valid variable names
first_name = "Dhananjay"
last_name = "Kumar"

In [10]:
## invalid variable names
#2age = 30
#first-name="Krish"
@name ="Dhananjay"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1402700659.py, line 4)

In [11]:
## case sensitive
name = "Dhananjay"
Name = "Kumar"

In [12]:
name==Name

False

In [17]:
## understanding variable type
## Python is dynamically typed, type of variable is determined at run time
age =22 # int
height ="5'10"# str
name = "Krish" # str
is_student = True# boolean

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [20]:
## Type Checking and conversion 
age =22
print(type(age))
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [21]:
age = '22'
print(type(int(age)))

<class 'int'>

In [22]:
name = "Dhananjay"
int(name)

ValueError: invalid literal for int() with base 10: 'Dhananjay'

In [23]:
height = 5.10
type(height)

float

In [24]:
float(int(height))

5.0

In [26]:
## Dynamic Typing 
## Python allows the type of variable to change as the program executes
var = 10 # int
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [28]:
## input 
age = int(input("what is your age"))
print(age,type(age))

22 <class 'int'>

In [29]:
## simple calculator

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number"))

sum = num1 + num2
diff = num1 - num2
pro = num1 * num2
quo = num1/num2

print("Sum : ",sum)
print("diff : ",diff)
print("pro : ",pro)
print("quo : ",quo)

Sum :  15.0
diff :  5.0
pro :  50.0
quo :  2.0