# 1. Introduction to Data Types
# 2. Importance of Data Types in programming
# 3. Basic Dta Types
#        Integers
#       Floating-point numbers
#       Strings
#       Booleans
# 4.Advance Data Types
#       List
#       Tuples
#       Set
#       Dictionaries

In [3]:
## Integer Example 
age = 35
type(age)

int

In [4]:
## floating point datatype
height =5010
print(height)
print(type(height))

5010
<class 'int'>

In [6]:
## String datatype example
name = "Dhananjay"
print(name)
print(type(name))

Dhananjay
<class 'str'>

In [7]:
## boolean datatype
is_true = True
type(is_true)

bool

In [8]:
is_true = bool()
is_true

False

In [9]:
bool()

False

In [10]:
a=10
b=10

In [11]:
a==b

True

In [12]:
type(a==b)

bool

In [13]:
## Common error
result = "Hello" + 5
result

TypeError: can only concatenate str (not "int") to str

In [17]:
# Typecasting
result = "Hello" + str(5)
result

'Hello5'