1. Introduction to Operartors
2. Arthmetic Operators
   -> Addition
    Subtraction
    Multiplication
    Division
    Floor Division
    Modulus
    Exponentiation
3. Comparision Operators
   ->Equal to
    Not Equal to
    Greater than
    Less than
    Greater than or equal to
    less than or equal to
4.  Logical Operators
    ->AND 
    OR
    NOT

In [4]:
## ARITHMETHIC OPERATIONS
a =10
b=5
add_result = a+b
sub_result = a-b
mul_result = a*b
div_result = a/b
floor_div = a//b
modulus_result =a%b
exponent_result = a**b

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

## Comparision operator

In [5]:
## comparison Operator
## ==
a=10
b=10
a==b

True

In [6]:
str1="Dhananjay"
str2="Dhananjay"

True

In [7]:
# comparision operator
str1==str2

True

In [8]:
# comparision operator
str1!=str2

False

In [10]:
str3="Dhananjay"
str4="dhananjay"

str3!=str4

True

In [11]:
# greater than
num1=45
num2=55
num1>num2

False

In [12]:
# less than
num1<num2

True

In [13]:
# greater than or equal to
number1=45
number2=45
number1>=number2

True

In [14]:
# less than or equal to
number1=45
number2=45
number1<=number2

True

## Logical operators

In [15]:
## And 
X=True
Y=True
result = X and Y
print(result)

True

In [16]:
X=True
Y=False
result = X and Y
print(result)

False

In [17]:
X=False
Y=True
result = X and Y
print(result)

False

In [21]:
## OR
X=True
Y=True
result = X or Y
print(result)

True

In [22]:
X=True
Y=False
result = X or Y
print(result)

True

In [23]:
X=False
Y=True
result = X or Y
print(result)

True

In [25]:
# Not operator
X = True
not(X)

False

In [26]:
X=False
not X

True

In [27]:
## Simple calculator

# simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# performing arithmetic operation
addition = num1+num2
subtraction = num1-num2
multiplication = num1*num2
division = num1/num2
floor_division = num1//num2
modulus = num1%num2
exponentiation = num1**num2

# displaying results
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(floor_division)
print(modulus)
print(exponentiation)

15.0
5.0
50.0
2.0
2.0
0.0
100000.0